<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="hdr">Choose source</div>
    </div>  
    <div class="col-8">
      <div class="hdr">Parse video by link</div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="sel-source">
        <select  [(ngModel)]="selSource" (change)="updateSource()">
          <option *ngFor="let source of (sourceArr$ | async)" [value]="source.name">{{source.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-8">
      <app-link-parser
        [source]="selSource"
        (videoParsed)="handleVideoSelected($event)">
      </app-link-parser>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-search-engine
      [source]="selSource"
      (videoSelected)="handleVideoSelected($event)">
      </app-search-engine>
    </div>
  </div>
</div>
