  <div class="hdr">Search by keyword</div>
  <div class="user-input">
    <input type="text" [(ngModel)]="query" size=50 (keydown.enter)="doRequest()">
    <button (click)="doRequest()">Search</button>
  </div>
  <div class="result-list" #elRef>
      <virtual-scroller  #scroll [items]="items$ | async"
        (vsUpdate)="viewPortItems = $event"
        [parentScroll]="elRef.nativeElement"
        [checkResizeInterval]="0">
        <div *ngFor="let item of scroll.viewPortItems">
          <app-result-grid
            [videoId]="item.videoId"
            [ttl]="item.title"
            [thumbUrl]="item.url"
            (videoSelected)="handleVideoSelected($event)">
          </app-result-grid>
        </div>
      </virtual-scroller>
   </div>

